.blue {
    border: 2px solid blue;
}
.green {
    border: 2px solid green;
}
.orange {
    border: 2px solid orange;
}
.red {
    border: 2px solid red;
}
.ffooff {
    border: 2px solid #ff00ff;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}