.blue {
    border: 2px;
    border-color: blue;
}
.green {
    border: 2px;
    border-color: green;
}
.orange {
    border: 2px;
    border-color: orange;
}
.red {
    border: 2px;
    border-color: red;
}